---
import axios from "axios";
const pb = import.meta.env.PB_LOCATION;

let data = { id: "", title: "", description: "" };
const request = Astro.request;
const method = request.method;

let body: FormData;
try {
  body = await request.formData();
  data = {
    id: (body.get("id") as string | null) || "",
    title: (body.get("title") as string | null) || "",
    description: (body.get("description") as string | null) || "",
  };
} catch (error) {}

let response: any;
switch (method) {
  case "GET":
    const id = new URL(request.url).searchParams.get("id") as string | null;
    if (!id) {
      break;
    }
    response = await axios.get(`${pb}/api/collections/playlist/records/${id}`);
    data = {
      id,
      description: response.data.description,
      title: response.data.title,
    };
    break;
  case "PATCH":
    try {
      response = await axios.patch(
        `${pb}/api/collections/playlist/records/${data.id}`,
        { title: data.title, description: data.description }
      );
    } catch (error) {
      console.log(error);
    }
    data = {
      id: response.data.id,
      title: response.data.title,
      description: response.data.description,
    };
    break;
  default:
    break;
}
---

<form
  hx-patch="/api/dashboard/edit-playlist"
  hx-swap="none"
  class="flex flex-col justify-center items-center gap-4"
>
  <input type="hidden" name="id" value={data.id} />
  <label for="title">title</label>
  <input
    class="input input-primary"
    type="text"
    name="title"
    id="title"
    value={data.title}
  />
  <label for="description">description</label>
  <input
    class="input input-primary"
    type="text"
    name="description"
    id="description"
    value={data.description}
  />
  <button class="btn btn-primary">save</button>
</form>
