---
import axios from "axios";
import { CreateFileIcon, FileIcon, FolderIcon } from "@lib/icons";
const url = new URL(Astro.request.url);
const pb_loc = import.meta.env.PB_LOCATION;

const res = await axios.get(
  `${pb_loc}/api/collections/item/records${url.search}`
);

const items = res.data.items;
---

{
  items.map((item: Item) => {
    const articleBody = JSON.stringify({ content: item.content, id: item.id });
    const itemBody = JSON.stringify({
      id: item.id,
      color: item.color,
      cover: item.cover,
      title: item.title,
      description: item.description,
    });
    return (
      <li class="item">
        <details>
          <summary>
            <FolderIcon />
            {item.title}
          </summary>
          <ul>
            <li>
              <a
                hx-target="#dashboard-content"
                hx-post={`/dashboard/${item.playlist}/${item.id}/config`}
                hx-replace-url="true"
                hx-vals={itemBody}
                hx-swap="innerHTML"
                hx-select="#edit-item"
              >
                <FileIcon />
                config.txt
              </a>
            </li>
            <li>
              <a
                hx-target="#dashboard-content"
                hx-post={`/dashboard/${item.playlist}/${item.id}/article`}
                hx-replace-url="true"
                hx-swap="innerHTML"
                hx-select="#edit-article"
                hx-vals={articleBody}
              >
                <FileIcon />
                article.md
              </a>
            </li>
            <li
              hx-get={`/api/files/questions?filter=item = "${item.id}"`}
              hx-swap="innerHTML"
              hx-target={`#questions-${item.id}`}
              hx-select=".question"
              hx-trigger="click once"
            >
              <details>
                <summary>
                  <FolderIcon />
                  questions
                </summary>
                <ul class="menu menu-horizontal py-0">
                  <li class="text-success">
                    <a>
                      <CreateFileIcon />
                    </a>
                  </li>
                </ul>
                <ul id={`questions-${item.id}`} />
              </details>
            </li>
          </ul>
        </details>
      </li>
    );
  })
}
