---
import axios from "axios";
import {
  CreateFileIcon,
  ConfigFileIcon,
  MarkdownFileIcon,
  FolderIcon,
  OpenFolderIcon,
} from "@lib/icons";
const urlParams = new URL(Astro.request.url).searchParams;
const pb_loc = import.meta.env.PB_LOCATION;

const res = await axios.get(
  `${pb_loc}/api/collections/item/records?filter=${urlParams.get("filter")}`
);

const items = res.data.items;
const itemId = urlParams.get("itemId");
---

{
  items.map((item: Item) => {
    const openItem = item.id === itemId;
    const articleBody = JSON.stringify({ content: item.content, id: item.id });
    const itemBody = JSON.stringify({
      id: item.id,
      color: item.color,
      cover: item.cover,
      title: item.title,
      description: item.description,
    });
    return (
      <li class="item">
        <details open={openItem} class="group/item">
          <summary>
            <span class="hidden group-open/item:block">
              <OpenFolderIcon />
            </span>
            <span class="block group-open/item:hidden">
              <FolderIcon />
            </span>
            {item.title}
          </summary>
          <ul>
            <li>
              <a
                hx-target="#dashboard-content"
                hx-post={`/dashboard/${item.playlist}/${item.id}/config`}
                hx-replace-url="true"
                hx-vals={itemBody}
                hx-swap="innerHTML"
                hx-select="#dashboard-content"
              >
                <ConfigFileIcon />
                config.txt
              </a>
            </li>
            <li>
              <a
                hx-target="#dashboard-content"
                hx-post={`/dashboard/${item.playlist}/${item.id}/article`}
                hx-replace-url="true"
                hx-swap="innerHTML"
                hx-select="#dashboard-content"
                hx-vals={articleBody}
              >
                <MarkdownFileIcon />
                article.md
              </a>
            </li>
            <li
              hx-get={`/api/files/questions?filter=item = "${item.id}"`}
              hx-swap="innerHTML"
              hx-target={`#questions-${item.id}`}
              hx-select=".question"
              hx-trigger="click once"
            >
              <details class="group/questions">
                <summary>
                  <span class="hidden group-open/questions:block">
                    <OpenFolderIcon />
                  </span>
                  <span class="block group-open/questions:hidden">
                    <FolderIcon />
                  </span>
                  questions
                </summary>
                <ul class="menu menu-horizontal py-0">
                  <li class="text-success">
                    <a>
                      <CreateFileIcon />
                    </a>
                  </li>
                </ul>
                <ul id={`questions-${item.id}`} />
              </details>
            </li>
          </ul>
        </details>
      </li>
    );
  })
}
