---
import { ConfigFileIcon, FolderIcon, OpenFolderIcon } from "@lib/icons";
import axios from "axios";

const userData = Astro.locals.user;
const pb_loc = import.meta.env.PB_LOCATION;
const urlparams = new URL(Astro.url).searchParams;
const playlistId = urlparams.get("playlistId");
const itemId = urlparams.get("itemId");
const questionId = urlparams.get("questionId");

let playlists: Playlist[] = [];

try {
  const response = await axios.get(
    `${pb_loc}/api/collections/playlist/records?filter=owner = "${userData?.record.id}"`
  );
  playlists = response.data.items;
} catch (error) {
  console.log(error);
}
---

{
  playlists.map((playlist) => {
    const isOpen = playlist.id === playlistId;
    return (
      <li class="playlist">
        <details open={isOpen} class="group/playlist">
          <summary
            hx-get={`/dashboard/${playlist.id}/files?itemId=${itemId}&questionId=${questionId}`}
            hx-target={`#playlist-${playlist.id}`}
            hx-swap="afterend"
            hx-trigger={`${isOpen ? "load" : "click"} once`}
            hx-select=".item"
          >
            <span class="hidden group-open/playlist:block">
              <OpenFolderIcon />
            </span>
            <span class="block group-open/playlist:hidden">
              <FolderIcon />
            </span>
            {playlist.title}
          </summary>
          <ul>
            <li id={`playlist-${playlist.id}`}>
              <a
                href={`/dashboard/${playlist.id}/config`}
                hx-target="#dashboard-content"
                hx-select="#dashboard-content"
              >
                <span class="text-error">
                  <ConfigFileIcon />
                </span>
                config.yaml
              </a>
            </li>
          </ul>
        </details>
      </li>
    );
  })
}
