---
import { ConfigFileIcon, FolderIcon, OpenFolderIcon } from "@lib/icons";
import axios from "axios";

const userData = Astro.locals.user;
const pb_loc = import.meta.env.PB_LOCATION;

let playlists: Playlist[] = [];

try {
  const response = await axios.get(
    `${pb_loc}/api/collections/playlist/records?filter=owner = "${userData?.record.id}"`
  );
  playlists = response.data.items;
} catch (error) {
  console.log(error);
}
---

{
  playlists.map((playlist) => {
    const playlistData = {
      id: playlist.id,
      title: playlist.title,
      description: playlist.description,
    };
    return (
      <li class="playlist">
        <details class="group/playlist">
          <summary
            hx-get={`/dashboard/${playlist.id}/files`}
            hx-target={`#playlist-${playlist.id}`}
            hx-swap="afterend"
            hx-trigger="click once"
            hx-select=".item"
          >
            <span class="hidden group-open/playlist:block">
              <OpenFolderIcon />
            </span>
            <span class="block group-open/playlist:hidden">
              <FolderIcon />
            </span>
            {playlist.title}
          </summary>
          <ul>
            <li id={`playlist-${playlist.id}`}>
              <a
                hx-post={`/dashboard/${playlist.id}/config`}
                hx-target="#dashboard-content"
                hx-trigger="click"
                hx-vals={JSON.stringify(playlistData)}
                hx-select="#dashboard-content"
                hx-replace-url="true"
              >
                <span class="text-error">
                  <ConfigFileIcon />
                </span>
                config.yaml
              </a>
            </li>
          </ul>
        </details>
      </li>
    );
  })
}
