---
import axios from "axios";
import type { itemType } from "../../../../types/database";
import {
  CreateFileIcon,
  CreateFolderIcon,
  DeleteIcon,
  EditIcon,
} from "../../../lib/icons";
const origin = import.meta.env.API_URL;
const pb = import.meta.env.PB_LOCATION;

const { url } = Astro.request;
const newUrl = new URL(url);

let data = [];

try {
  const items = await axios.get(`${origin}/api/items.json${newUrl.search}`);
  data = items.data;
} catch (error) {
  console.log(error);
}
---

{
  data.map((item: itemType) => {
    const postBody = {
      type: "open",
      question: "<p>question</p>",
      answears: "question",
      item: item.id,
      owner: "i3jpejj5qsvjg5n",
    };
    return (
      <li id={`item-${item.id}`}>
        <details>
          <summary>{item.title}</summary>
          <ul>
            <li class="menu menu-horizontal p-0 flex items-center">
              <a class="z-10 hover:text-info text-base duration-300">
                <EditIcon />
              </a>
              <a
                hx-delete={`${pb}/api/collections/item/records/${item.id}`}
                hx-swap="delete"
                hx-target={`#item-${item.id}`}
                class="text-base z-50 hover:text-error duration-300"
              >
                <DeleteIcon />
              </a>
            </li>
            <li
              hx-target="#dashboard-content"
              hx-swap="innerHTML"
              hx-get={`/api/dashboard/article?query=id = "${item.id}"`}
            >
              <a>article</a>
            </li>
            <li
              hx-target={`#item-${item.id}-questions`}
              hx-trigger="mouseover once"
              hx-get={`/api/filetree/questions?query=item = "${item.id}"`}
              hx-swap="afterend"
            >
              <details>
                <summary>questions</summary>
                <ul>
                  <li class="menu menu-horizontal p-0 flex items-center">
                    <a
                      hx-post="/api/questions.json"
                      hx-vals={JSON.stringify(postBody)}
                      hx-swap="none"
                      class="text-base duration-300 hover:text-success"
                    >
                      <CreateFileIcon />
                    </a>
                  </li>
                  <li id={`item-${item.id}-questions`} />
                </ul>
              </details>
            </li>
          </ul>
        </details>
      </li>
    );
  })
}
