---
import axios from "axios";
import MainNav from "../layouts/MainNav.astro";

const pb_loc = import.meta.env.PB_LOCATION;
const userData = Astro.locals.user;

let playlists = [];

try {
  const response = await axios.get(
    `${pb_loc}/api/collections/playlist/records?filter=owner = "${userData?.record.id}"`
  );
  playlists = response.data.items;
} catch (error) {
  console.log(error);
}
---

<MainNav>
  <aside>
    <ul class="menu menu-xs bg-neutral rounded-lg max-w-xs w-full">
      {
        playlists.map((playlist: Playlist) => {
          return (
            <li
              hx-get={`/api/files/items?filter=playlist = "${playlist.id}"`}
              hx-target={`#items-${playlist.id}`}
              hx-swap="afterend"
              hx-trigger="click once"
              hx-select=".item"
            >
              <details>
                <summary>{playlist.title}</summary>
                <ul>
                  <li id={`items-${playlist.id}`}>
                    <a>CRUD</a>
                  </li>
                </ul>
              </details>
            </li>
          );
        })
      }
    </ul>
  </aside>
</MainNav>
