---
import axios from "axios";
import { FolderIcon, OpenFolderIcon } from "../lib/icons";
import MainNav from "../layouts/MainNav.astro";
import CUD from "../components/CUD.astro";

const pb_loc = import.meta.env.PB_LOCATION;
const userData = Astro.locals.user;

let playlists = [];

try {
  const response = await axios.get(
    `${pb_loc}/api/collections/playlist/records?filter=owner = "${userData?.record.id}"`
  );
  playlists = response.data.items;
} catch (error) {
  console.log(error);
}
---

<MainNav>
  <aside>
    <ul class="menu menu-xs bg-neutral rounded-lg max-w-xs w-full">
      {
        playlists.map((playlist: Playlist) => {
          return (
            <li
              hx-get={`/api/files/items?filter=playlist = "${playlist.id}"`}
              hx-target={`#items-${playlist.id}`}
              hx-swap="innerHTML"
              hx-trigger="click once"
              hx-select=".item"
            >
              <details>
                <summary>
                  <FolderIcon />
                  {playlist.title}
                </summary>
                <CUD />
                <ul id={`items-${playlist.id}`} />
              </details>
            </li>
          );
        })
      }
    </ul>
  </aside>
</MainNav>
