---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import {
  GhostFolderIcon,
  GhostQuestionFileIcon,
  SpinnerIcon,
} from "@lib/icons";
import axios, { AxiosError } from "axios";
import Editor from "@components/Editor";
import Tooltip from "@components/Tooltip";

export const prerender = false;
const pb_loc = import.meta.env.PB_LOCATION;
const { playlistId, itemId, questionId } = Astro.params;
const method = Astro.request.method;
const userData = Astro.locals.user;

let data = {
  id: questionId,
  title: "",
  type: "",
  answears: "",
  decoys: "",
  show: "",
  question: "",
  expand: {
    item: {
      id: itemId,
      title: "",
      expand: {
        playlist: {
          id: playlistId,
          title: "",
        },
      },
    },
  },
};
let message: AlertMessage = {
  show: false,
  type: "",
  message: "",
};

switch (method) {
  case "POST":
    try {
      const formBody = await Astro.request.formData();
      const title = formBody.get("title") as string;
      const type = formBody.get("type") as string;
      const answears = formBody.get("answears") as string;
      const decoys = formBody.get("decoys") as string;
      const show = formBody.get("show") as string;
      const showd = formBody.get("showd") as string;
      const itemTitle = formBody.get("itemTitle") as string;
      const playlistTitle = formBody.get("playlistTitle") as string;
      const editorContent = formBody.get("editor-content") as string;

      data = {
        id: questionId,
        answears,
        decoys,
        question: editorContent,
        show: `${show}${
          (show.length > 0 && showd.length > 0 && ":") || ""
        }${showd}`,
        title,
        type,
        expand: {
          item: {
            id: itemId,
            title: itemTitle,
            expand: { playlist: { title: playlistTitle, id: playlistId } },
          },
        },
      };

      await axios.patch(
        `${pb_loc}/api/collections/question/records/${questionId}`,
        {
          title,
          type,
          answears: answears
            .split(";")
            .map((answear) => answear.trim())
            .join(";"),
          decoys: decoys
            .split(";")
            .map((answear) => answear.trim())
            .join(";"),
          show: data.show,
        },
        {
          headers: {
            Authorization: `Bearer ${userData?.token}`,
          },
        }
      );
      message.show = true;
      message.type = "success";
      message.message = "Updated the question.";
    } catch (error) {
      message.show = true;
      message.type = "error";
      if (error instanceof AxiosError) {
        message.message = "Invalid data.";
      } else {
        message.message = "Something went wrong.";
      }
    }
    break;
  default:
    try {
      const expand = `expand=item,item.playlist`;
      const fields = `fields=id,title,type,answears,decoys,show,question,expand.item.id,expand.item.title,expand.item.expand.playlist.id,expand.item.expand.playlist.title`;
      const response = await axios.get(
        `${pb_loc}/api/collections/question/records/${questionId}?${expand}&${fields}`
      );
      data = response.data;
    } catch (error) {
      message.show = true;
      message.type = "error";
      if (error instanceof AxiosError) {
        message.message = "Can't find this question.";
      } else {
        message.message = "Something went wrong.";
      }
    }
    break;
}

data.answears = data.answears.replaceAll(";", "; ");
data.decoys = data.decoys.replaceAll(";", "; ");
---

<DashboardLayout message={message}>
  <form
    hx-post={`/dashboard/${playlistId}/${itemId}/${questionId}`}
    hx-swap="outerHTML"
    hx-target="#dashboard-content"
    hx-select="#dashboard-content"
    hx-indicator="#loading"
  >
    <nav class="w-full p-2 gap-4 flex justify-between border-b border-base-100">
      <div class="text-sm breadcrumbs">
        <ul>
          <li>
            <a href={`/dashboard/${playlistId}/config`}>
              <span class="pr-1">
                <GhostFolderIcon />
              </span>
              {data.expand.item.expand.playlist.title}
            </a>
          </li>
          <li>
            <a href={`/dashboard/${playlistId}/${itemId}/config`}>
              <span class="pr-1">
                <GhostFolderIcon />
              </span>
              {data.expand.item.title}
            </a>
          </li>
          <li>
            <a>
              <span class="pr-1">
                <GhostFolderIcon />
              </span>
               questions
            </a>
          </li>
          <li>
            <a>
              <span class="text-accent pr-1">
                <GhostQuestionFileIcon />
              </span>
              {data.title}
            </a>
          </li>
        </ul>
      </div>
      <div class="space-x-2">
        <button
          hx-delete={`/dashboard/${itemId}/${playlistId}/files?questionId=${questionId}`}
          hx-target={`#question-${questionId}`}
          hx-swap="outerHTML"
          hx-confirm="Are you sure you want to delete this question?"
          hx-replace-url={`/dashboard/${playlistId}/${itemId}/config`}
          class="btn btn-sm hover:bg-error rounded-none">delete</button
        >
        <button
          class="btn btn-sm hover:bg-success hover:text-black rounded-none"
        >
          save
        </button>
      </div>
    </nav>
    <div
      class="flex text-2xl gap-2 p-2 focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <label for="title">title:</label>
      <input
        id="title"
        type="text"
        name="title"
        spellcheck="false"
        pattern="^(.{1,64})$"
        value={data.title}
        class="w-full invalid:decoration-wavy invalid:underline invalid:decoration-error bg-transparent outline-none italic text-xl opacity-50 tracking-wide"
      />
      <Tooltip tip="length: 1 - 64" />
    </div>
    <div
      class="flex text-2xl gap-2 p-2 focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <label class="whitespace-nowrap" for="type">question-type:</label>
      <input
        id="type"
        type="text"
        name="type"
        pattern="^(open|closed)$"
        value={data.type}
        class="w-full bg-transparent invalid:decoration-wavy invalid:underline invalid:decoration-error outline-none italic text-xl opacity-50 tracking-wide"
      />
      <Tooltip tip="open or closed" />
    </div>
    <div
      class="flex text-2xl p-2 gap-2 focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <label for="answears">answears:</label>
      <span>[</span>
      <input
        id="answears"
        type="text"
        name="answears"
        placeholder="answear 1; answear 2"
        pattern="^(.{0,1024})$"
        value={data.answears}
        class="w-full invalid:decoration-wavy invalid:underline invalid:decoration-error bg-transparent outline-none italic text-xl opacity-50 tracking-wide"
      />
      <span>]</span>
      <Tooltip tip="length: 0 - 1024, separate different answears with ';'" />
    </div>
    <div
      class="flex text-2xl p-2 gap-2 focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <label for="decoys">decoys:</label>
      <span>[</span>
      <input
        id="decoys"
        type="text"
        name="decoys"
        placeholder="decoy 1; decoy 2"
        pattern="^(.{0,1024})$"
        value={data.decoys}
        class="w-full invalid:decoration-wavy invalid:underline invalid:decoration-error bg-transparent outline-none italic text-xl opacity-50 tracking-wide"
      />
      <span>]</span>
      <Tooltip tip="length: 0 - 1024, separate different decoys by a ';'" />
    </div>
    <div
      class="flex text-2xl p-2 gap-2 focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <label for="show" class="whitespace-nowrap">show-options:</label>
      <input
        id="show"
        type="number"
        name="show"
        value={data.show.split(":")[0]}
        min="2"
        max="4"
        class="w-full bg-transparent outline-none italic text-xl opacity-50 tracking-wide"
      />
    </div>
    <div
      class="flex text-2xl p-2 gap-2 focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <label for="showd" class="whitespace-nowrap">show-answears:</label>
      <input
        id="showd"
        type="number"
        name="showd"
        value={data.show.split(":")[1]}
        min="1"
        max="3"
        class="w-full bg-transparent outline-none italic text-xl opacity-50 tracking-wide"
      />
    </div>
    <input type="hidden" name="itemTitle" value={data.expand.item.title} />
    <input
      type="hidden"
      name="playlistTitle"
      value={data.expand.item.expand.playlist.title}
    />
    <div class="tabs ml-1">
      <a class="tab tab-lifted tab-active">question</a>
    </div>
    <div class="flex flex-col w-full border-t border-base-100">
      <Editor client:only content={data.question} />
    </div>
  </form>
  <div
    id="loading"
    class="htmx-indicator alert text-base px-4 py-2 rounded-none w-fit absolute flex justify-between bottom-4 right-4"
  >
    <div class="animate-spin">
      <SpinnerIcon />
    </div>
     Loading
  </div>
</DashboardLayout>
