---
import Editor from "@components/Editor";
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { GhostFolderIcon, GhostMarkdownFileIcon } from "@lib/icons";
import axios from "axios";

export const prerender = false;
const { playlistId, itemId } = Astro.params;
const pb_loc = import.meta.env.PB_LOCATION;
const method = Astro.request.method;

let data = {
  id: "",
  content: "",
  title: "",
  expand: { playlist: { id: "", title: "" } },
};

switch (method) {
  case "POST":
    try {
      const formBody = await Astro.request.formData();
      const content = formBody.get("editor-content") as string;
      const title = formBody.get("title") as string;
      const playlistTitle = formBody.get("playlistTitle") as string;

      data = {
        id: itemId || "",
        content,
        title,
        expand: {
          playlist: {
            id: playlistId || "",
            title: playlistTitle,
          },
        },
      };

      await axios.patch(`${pb_loc}/api/collections/item/records/${itemId}`, {
        content,
      });
    } catch (error) {
      console.log(error);
    }
    break;
  default:
    try {
      const response = await axios.get(`
  ${pb_loc}/api/collections/item/records/${itemId}?fields=id,content,title,expand.playlist.id,expand.playlist.title&expand=playlist`);
      data = response.data;
    } catch (error) {
      console.log(error);
    }
    break;
}
---

<DashboardLayout>
  <form class="flex flex-col relative">
    <nav class="w-full p-2 gap-4 flex justify-between border-b border-base-100">
      <div class="text-sm breadcrumbs">
        <ul>
          <li>
            <a href={`/dashboard/${playlistId}/config`}>
              <span class="pr-1">
                <GhostFolderIcon />
              </span>
              {data.expand.playlist.title}
            </a>
          </li>
          <li>
            <a href={`/dashboard/${data.expand.playlist.id}/${data.id}/config`}>
              <span class="pr-1">
                <GhostFolderIcon />
              </span>
              {data.title}
            </a>
          </li>
          <li>
            <a>
              <span class="text-primary pr-1">
                <GhostMarkdownFileIcon />
              </span>
               article.md
            </a>
          </li>
        </ul>
      </div>
      <div class="space-x-2">
        <button type="button" class="btn btn-sm hover:bg-error rounded-none"
          >delete</button
        >
        <button
          hx-post={`/dashboard/${playlistId}/${itemId}/article`}
          hx-swap="none"
          class="btn btn-sm hover:bg-success hover:text-black rounded-none"
          >save</button
        >
      </div>
    </nav>
    <input type="hidden" name="title" value={data.title} />
    <input
      type="hidden"
      name="playlistTitle"
      value={data.expand.playlist.title}
    />
    <Editor client:only content={data.content} />
  </form>
</DashboardLayout>
