---
import Spinner from "@components/spinner.astro";
import { QuestionFileIcon } from "@lib/icons";
import axios from "axios";

export const prerender = false;
const pb_loc = import.meta.env.PB_LOCATION;
const method = Astro.request.method;
const { playlistId, itemId } = Astro.params;
const userData = Astro.locals.user;

let questions: Question[] = [];

switch (method) {
  case "DELETE":
    const questionId = new URL(Astro.url).searchParams.get("questionId");
    try {
      await axios.delete(
        `${pb_loc}/api/collections/question/records/${questionId}`,
        {
          headers: {
            Authorization: `Bearer ${userData?.token}`,
          },
        }
      );
    } catch (error) {
      console.log(error);
    }
    break;
  case "POST":
    try {
      const response = await axios.post(
        `${pb_loc}/api/collections/question/records`,
        {
          type: "open",
          item: itemId,
          owner: userData?.record.id,
          title: "New Question",
        }
      );
      questions = [response.data];
    } catch (error) {
      console.log(error);
    }
    break;
  default:
    try {
      const response = await axios.get(
        `${pb_loc}/api/collections/question/records?filter=item = "${itemId}"`
      );
      questions = response.data.items;
    } catch (error) {
      console.log(error);
    }
    break;
}
---

{
  questions.map((question) => {
    return (
      <li class="question" id={`question-${question.id}`}>
        <a
          href={`/dashboard/${playlistId}/${itemId}/${question.id}`}
          hx-target="#dashboard-content"
          hx-select="#dashboard-content"
        >
          <span class="text-accent">
            <QuestionFileIcon />
          </span>
          {question.title}
          <Spinner />
        </a>
      </li>
    );
  })
}
