---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import { GhostConfigFileIcon, GhostFolderIcon, SpinnerIcon } from "@lib/icons";
import SuccessAlert from "@components/alerts/successAlert.astro";
import ErrorAlert from "@components/alerts/errorAlert.astro";
import axios, { Axios, AxiosError } from "axios";
import Spinner from "@components/spinner.astro";
import Tooltip from "@components/tooltip.astro";

export const prerender = false;
const { playlistId } = Astro.params;
const pb_loc = import.meta.env.PB_LOCATION;
const method = Astro.request.method;

let data = { id: "", title: "", description: "" };
let message = {
  show: false,
  type: "",
  message: "",
};

switch (method) {
  case "POST":
    message.show = true;
    try {
      const formBody = await Astro.request.formData();
      const id = formBody.get("id") as string;
      const title = formBody.get("title") as string;
      const description = formBody.get("description") as string;

      data = { id, title, description };

      await axios.patch(`${pb_loc}/api/collections/playlist/records/${id}`, {
        title,
        description,
      });
      message.type = "success";
      message.message = "Updated the config file.";
    } catch (error) {
      message.type = "error";
      if (error instanceof AxiosError) {
        message.message = "Invalid data.";
      } else {
        message.message = "Something went wrong.";
      }
    }
    break;

  default:
    try {
      const response = await axios.get(
        `${pb_loc}/api/collections/playlist/records/${playlistId}?fields=id,title,description`
      );

      data = response.data;
    } catch (error) {
      message.show = true;
      message.type = "error";
      if (error instanceof AxiosError) {
        message.message = "Can't find this playlist.";
      } else {
        message.message = "Something went wrong.";
      }
    }
    break;
}
---

<DashboardLayout>
  <form
    hx-post={`/dashboard/${playlistId}/config`}
    hx-swap="outerHTML"
    hx-select="#dashboard-content"
    hx-target="#dashboard-content"
  >
    <nav class="w-full p-2 gap-4 flex justify-between border-b border-base-100">
      <div class="text-sm breadcrumbs">
        <ul>
          <li>
            <a href="/dashboard">
              <span class="pr-1">
                <GhostFolderIcon />
              </span>
              {data.title}
            </a>
          </li>
          <li>
            <a>
              <span class="text-error pr-1">
                <GhostConfigFileIcon />
              </span>
               config.yaml
            </a>
          </li>
        </ul>
      </div>
      <div class="space-x-2">
        <button
          hx-post={`/dashboard/${playlistId}/files`}
          hx-target={`#items-${playlistId}`}
          hx-swap="afterend"
          hx-select=".item"
          hx-indicator="#loading"
          type="button"
          class="btn btn-sm hover:bg-warning rounded-none"
        >
          + item
        </button>
        <button
          hx-delete={`/dashboard/files?id=${playlistId}`}
          hx-swap="outerHTML"
          hx-replace-url="/dashboard"
          hx-target={`#playlist-${playlistId}`}
          class="btn btn-sm hover:bg-error rounded-none"
        >
          delete
        </button>
        <button
          class="btn btn-sm hover:bg-success hover:text-black rounded-none"
        >
          save
        </button>
      </div>
    </nav>
    <div
      class="flex text-2xl gap-2 p-2 group focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <input type="hidden" name="id" value={data.id} />
      <label for="title">title:</label>
      <input
        id="title"
        value={data.title}
        pattern="^(.{1,64})$"
        name="title"
        type="text"
        class="w-full invalid:decoration-wavy invalid:underline invalid:decoration-error bg-transparent outline-none italic text-xl opacity-50 tracking-wide"
      />
      <Tooltip tip="length: 1 - 64" />
    </div>
    <div
      class="flex flex-col text-2xl p-2 focus-within:bg-accent focus-within:bg-opacity-10 duration-300"
    >
      <label for="description">description:</label>
      <textarea
        maxlength="1024"
        id="description"
        name="description"
        rows={10}
        class="w-full bg-transparent outline-none resize-none italic text-xl opacity-50 tracking-wide"
        >{data.description}</textarea
      >
    </div>
    <div
      id="loading"
      class="htmx-indicator alert text-base px-4 py-2 rounded-none w-fit absolute flex justify-between bottom-4 right-4"
    >
      <div class="animate-spin">
        <SpinnerIcon />
      </div>
       Loading
    </div>
    {
      message.show && message.type === "success" && (
        <SuccessAlert message={message} />
      )
    }
    {
      message.show && message.type === "error" && (
        <ErrorAlert message={message} />
      )
    }
  </form>
</DashboardLayout>
