---
import {
  ConfigFileIcon,
  FolderIcon,
  MarkdownFileIcon,
  OpenFolderIcon,
} from "@lib/icons";
import axios from "axios";

export const prerender = false;
const pb_loc = import.meta.env.PB_LOCATION;
const { playlistId } = Astro.params;
const urlparams = new URL(Astro.url).searchParams;
const itemId = urlparams.get("itemId");
const questionId = urlparams.get("questionId");

let items: Item[] = [];

try {
  const response = await axios.get(
    `${pb_loc}/api/collections/item/records?filter=playlist = "${playlistId}"`
  );
  items = response.data.items;
} catch (error) {
  console.log(error);
}
---

{
  items.map((item) => {
    const itemIsOpen = item.id === itemId;
    const questionsIsOpen = itemIsOpen && questionId;
    return (
      <li class="item">
        <details open={itemIsOpen} class="group/item">
          <summary>
            <span class="hidden group-open/item:block">
              <OpenFolderIcon />
            </span>
            <span class="block group-open/item:hidden">
              <FolderIcon />
            </span>
            {item.title}
          </summary>
          <ul>
            <li>
              <a
                hx-post={`/dashboard/${playlistId}/${item.id}/config`}
                hx-target="#dashboard-content"
                hx-select="#dashboard-content"
                hx-trigger="click"
                hx-replace-url="true"
              >
                <span class="text-error">
                  <ConfigFileIcon />
                </span>
                config.yaml
              </a>
            </li>
            <li>
              <a
                hx-post={`/dashboard/${playlistId}/${item.id}/article`}
                hx-target="#dashboard-content"
                hx-select="#dashboard-content"
                hx-trigger="click"
                hx-replace-url="true"
              >
                <span class="text-primary">
                  <MarkdownFileIcon />
                </span>
                article.md
              </a>
            </li>
            <li>
              <details open={questionsIsOpen} class="group/questions">
                <summary
                  hx-get={`/dashboard/${playlistId}/${item.id}/files`}
                  hx-target={`#questions-${item.id}`}
                  hx-swap="innerHTML"
                  hx-trigger={`${questionsIsOpen ? "load" : "click"} once`}
                  hx-select=".question"
                >
                  <span class="hidden group-open/questions:block">
                    <OpenFolderIcon />
                  </span>
                  <span class="block group-open/questions:hidden">
                    <FolderIcon />
                  </span>
                  questions
                </summary>
                <ul id={`questions-${item.id}`} />
              </details>
            </li>
          </ul>
        </details>
      </li>
    );
  })
}
