---
const {
  collectionId,
  collectionName,
  color,
  content,
  cover,
  description,
  id,
  owner,
  playlist,
  title,
} = Astro.props;
const link = `/playlist/${playlist}/${id}`;
const dbAddress = import.meta.env.PB_LOCATION;
const coverLink = `${dbAddress}/api/files/${collectionId}/${id}/${cover}`;
---

<a
  href={link}
  class="w-full h-48 max-w-sm relative hover:scale-95 duration-500"
>
  {
    coverLink && (
      <img src={coverLink} alt="" class="rounded-2xl h-full w-full" />
    )
  }
  <article
    style={{ backgroundColor: "#" + color + "AA" }}
    class="absolute inset-0 p-4 bg-opacity-80 hover:bg-opacity-30 duration-700 rounded-2xl"
  >
    <div class="bg-neutral w-fit p-2 rounded-2xl bg-opacity-80">
      <h2 class="text-xl font-bold">{title}</h2>
      <p class="opacity-60">{description}</p>
    </div>
  </article>
</a>
