---
import axios from "axios";
import { CreateFolderIcon, EditIcon, DeleteIcon } from "../lib/icons";
import type { playlistType } from "../../types/database";
const api = import.meta.env.API_URL;
const pb = import.meta.env.PB_LOCATION;

//! replace the owner id with the logged in user id
let playlistsData = [];
try {
  const playlists = await axios.get(
    `${api}/api/playlists.json?query=owner = "i3jpejj5qsvjg5n"`
  );
  playlistsData = playlists.data;
} catch (error) {
  console.log(error);
}
---

<ul class="menu menu-xs bg-base-200 rounded-lg max-w-xs w-full">
  <li class="flex justify-center items-start">
    <a
      data-tip="Add Playlist"
      hx-post={`${api}/api/playlists.json?owner=i3jpejj5qsvjg5n`}
      hx-swap="none"
      class="text-2xl tooltip tooltip-right">+</a
    >
  </li>
  {
    playlistsData.map((playlist: playlistType, index: number) => {
      const postBody = {
        owner: "i3jpejj5qsvjg5n",
        title: "New item",
        playlist: playlist.id,
      };

      return (
        <li
          hx-get={`/api/filetree/items?query=playlist = "${playlist.id}"`}
          hx-target={"#playlist-" + index + "-items"}
          hx-trigger="click once"
          hx-swap="afterend"
          id={`playlist-${playlist.id}`}
        >
          <details>
            <summary>{playlist.title}</summary>
            <ul>
              <li
                class="menu menu-horizontal p-0 flex items-center"
                id={"playlist-" + index + "-items"}
              >
                <a
                  hx-post="/api/items.json"
                  hx-vals={JSON.stringify(postBody)}
                  hx-swap="none"
                  class="text-base duration-300 hover:text-success"
                >
                  <CreateFolderIcon />
                </a>
                <a
                  hx-get={`/api/dashboard/edit-playlist?id=${playlist.id}`}
                  hx-target="#dashboard-content"
                  hx-swap="innerHTML"
                  class="text-base duration-300 hover:text-info"
                >
                  <EditIcon />
                </a>
                <a
                  hx-delete={`${pb}/api/collections/playlist/records/${playlist.id}`}
                  hx-swap="delete"
                  hx-target={`#playlist-${playlist.id}`}
                  class="text-base duration-300 hover:text-error"
                >
                  <DeleteIcon />
                </a>
              </li>
            </ul>
          </details>
        </li>
      );
    })
  }
</ul>
