---
import axios from "axios";
import { FolderIcon, OpenFolderIcon } from "@lib/icons";
import MainNav from "./MainNav.astro";
import CUD from "@components/CUD.astro";

const pb_loc = import.meta.env.PB_LOCATION;
const userData = Astro.locals.user;
const { playlistId, itemId, questionId } = Astro.params;

let playlists = [];

try {
  const response = await axios.get(
    `${pb_loc}/api/collections/playlist/records?filter=owner = "${userData?.record.id}"`
  );
  playlists = response.data.items;
} catch (error) {
  console.log(error);
}
---

<MainNav>
  <aside class="col-span-3 overflow-y-auto border-r border-base-100 box-border">
    <ul class="menu bg-neutral w-full">
      {
        playlists.map((playlist: Playlist) => {
          const openPlaylist = playlist.id === playlistId;
          return (
            <li
              hx-get={`/api/files/items?filter=playlist = "${playlist.id}"&itemId=${itemId}&questionId=${questionId}`}
              hx-target={`#items-${playlist.id}`}
              hx-swap="innerHTML"
              hx-trigger={`${openPlaylist ? "load" : "click"} once`}
              hx-select=".item"
            >
              <details open={openPlaylist} class="group/playlist">
                <summary>
                  <span class="hidden group-open/playlist:block">
                    <OpenFolderIcon />
                  </span>
                  <span class="block group-open/playlist:hidden">
                    <FolderIcon />
                  </span>
                  {playlist.title}
                </summary>
                <CUD data={playlist} />
                <ul id={`items-${playlist.id}`} />
              </details>
            </li>
          );
        })
      }
    </ul>
  </aside>
  <article class="col-span-9 bg-neutral" id="dashboard-content">
    <slot />
  </article>
</MainNav>
